
.content_main {
  margin: 0 auto;
}
.content_main .main {
  width: 1200px;
  margin: 30px auto 0;
}
.content_main .main .main_left {
  width: 168px;
  border: 1px solid #e6e6e6;
  border-top: 4px solid #ffa130;
  float: left;
  text-align: center;
}
.content_main .main .main_left ul li a {
  vertical-align: middle;
  height: 52px;
  line-height: 52px;
  display: block;
  color: #666;
  font-size: 14px;
}
.content_main .main .main_left ul li a:hover {
  color: #fff;
  background-color: #f88f1f;
}
.content_main .main .main_right {
  float: left;
  width: 1002px;
  margin-left: 24px;
}
.content_main .main .main_right .right_top {
  float: left;
}
.content_main .main .main_right .right_top .right_top_l {
  float: left;
  width: 675px;
  border: 1px solid #e6e6e6;
  padding-bottom: 32px;
}
.content_main .main .main_right .right_top .right_top_l .member_bg {
  margin-left: -30px;
  margin-top: 98px;
}
.content_main .main .main_right .right_top .right_top_l img {
  float: left;
  margin-left: 29px;
  margin-top: 30px;
}
.content_main .main .main_right .right_top .right_top_l .top__left {
  padding-left: 32px;
  margin-left: 145px;
  margin-top: 47px;
}
.content_main .main .main_right .right_top .right_top_l .top__left dt {
  color: #1a1a1a;
  display: inline-block;
  font-size: 18px;
}
.content_main .main .main_right .right_top .right_top_l .top__left .vip {
  width: 60px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin-left: 24px;
  border: 1px solid #ffa130;
  border-radius: 6px;
  background-color: #ffa130;
  font-size: 12px;
  color: #fff;
  font-weight: bolder;
}
.content_main .main .main_right .right_top .right_top_l .top__left dd {
  margin-top: 14px;
  color: #1a1a1a;
  font-size: 12px;
}
.content_main .main .main_right .right_top .right_top_l .top__left dd span {
  display: inline-block;
  color: #666;
}
.content_main .main .main_right .right_top .right_top_r {
  float: left;
  margin-left: 25px;
  width: 298px;
  padding-bottom: 46px;
  background-color: #faf8f4;
  border: 1px solid #e6e6e6;
  background: #faf8f4 url(../images/icon-3.png) 38px 44px no-repeat;
}
.content_main .main .main_right .right_top .right_top_r dl {
  margin-left: 126px;
  margin-top: 57px;
}
.content_main .main .main_right .right_top .right_top_r dl dt {
  color: #9b9b9a;
  font-size: 14px;
}
.content_main .main .main_right .right_top .right_top_r dl dd {
  font-size: 18px;
  color: #0d0d0d;
}
.content_main .main .main_right .more {
  margin-left: 2px;
  margin-top: 20px;
  margin-bottom: 22px;
  padding-left: 14px;
  padding-right: 27px;
  font-size: 14px;
  float: left;
  width: 957px;
  height: 21px;
  line-height: 21px;
  border-left: 4px solid #f66061;
}
.content_main .main .main_right .more .more_l {
  float: left;
  color: #1a1a1a;
}
.content_main .main .main_right .more .more_r {
  float: right;
  color: #a9a9a9;
}
.content_main .main .main_right .main_middle {
  float: left;
  border: 1px solid #e6e6e6;
  width: 1002px;
  height: 182px;
}
.content_main .main .main_right .main_middle .middle_head {
  width: 984px;
  height: 43px;
  padding-left: 18px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e6e6e6;
}
.content_main .main .main_right .main_middle .middle_head .head_span {
  height: 43px;
  line-height: 43px;
  display: inline-block;
  font-size: 14px;
  color: #666;
}
.content_main .main .main_right .main_middle .middle_m {
  padding: 7px 0px 7px 17px;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_left {
  float: left;
  width: 667px;
  padding: 11px 0px;
  border-right: 1px solid #e6e6e6;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_left img {
  float: left;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_left .goods {
  float: left;
  width: 192px;
  font-size: 14px;
  color: #4d4d4d;
  margin-top: 38px;
  margin-left: 25px;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_left .amount {
  float: left;
  height: 98px;
  line-height: 98px;
  width: 15px;
  font-size: 12px;
  padding: 0px 85px;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_left .price {
  width: 68px;
  height: 58px;
  margin-top: 40px;
  float: left;
  display: inline-block;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_left .price .price_t {
  text-align: center;
  display: block;
  color: #ed601b;
  font-size: 12px;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_left .price .price_b {
  text-align: center;
  font-size: 12px;
  color: #999;
  display: block;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_m {
  float: left;
  width: 159px;
  height: 33px;
  border-right: 1px solid #e6e6e6;
  padding-bottom: 45px;
  padding-top: 45px;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_m span {
  font-size: 12px;
  color: #989898;
  text-align: center;
  display: block;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_r {
  padding: 46px 28px;
  float: left;
  width: 100px;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_r .pay {
  background-color: #f5f5f5;
  width: 80px;
  height: 12px;
  text-align: center;
  padding: 9px 9px 11px;
  border: 1px solid #e6e6e6;
}
.content_main .main .main_right .main_middle .middle_m .midlle_m_r .pay a {
  display: block;
  font-size: 12px;
  color: #b3b3b3;
}
.content_main .main .main_right .right_bottom {
  float: left;
  width: 1002px;
  border: 1px solid #e6e6e6;
}
.content_main .main .main_right .right_bottom .bottom-box_1 {
  padding-left: 28px;
  padding-bottom: 16px;
  float: left;
  width: 222px;
  border-right: 1px solid #e6e6e6;
}
.content_main .main .main_right .right_bottom .bottom-box_1 img {
  margin-top: 44px;
  margin-left: 26px;
  display: block;
}
.content_main .main .main_right .right_bottom .bottom-box_1 dl dt {
  margin-top: 36px;
  font-size: 12px;
  color: #7c7c7c;
}
.content_main .main .main_right .right_bottom .bottom-box_1 dl dd {
  margin-top: 10px;
  display: inline-block;
}
.content_main .main .main_right .right_bottom .bottom-box_1 dl dd .box-1_a {
  font-size: 14px;
  color: #ed601b;
  display: inline-block;
  margin-right: 62px;
}
.content_main .main .main_right .right_bottom .bottom-box_1 dl dd .box-1_a2 {
  text-decoration: line-through;
  font-size: 12px;
  color: #bfbfbf;
  display: inline-block;
}
.content_main .main .main_right .right_bottom .bottom-box_1 dl dd .box-1_a3 {
  color: #bababa;
  margin-left: 44px;
  display: block;
  padding-left: 28px;
  padding-top: 8px;
  width: 72px;
  height: 28px;
  font-size: 12px;
  border: 1px solid #e6e6e6;
  background: #ffffff url(../images/icon-9.png) 5px 8px no-repeat;
}
.content_main .main .main_right .right_bottom .bottom-box_2 {
  padding-left: 28px;
  padding-bottom: 16px;
  float: left;
  width: 222px;
  border-right: 1px solid #e6e6e6;
}
.content_main .main .main_right .right_bottom .bottom-box_2 img {
  margin-top: 20px;
  margin-left: 2px;
  display: block;
}
.content_main .main .main_right .right_bottom .bottom-box_2 dl dt {
  margin-top: 18px;
  font-size: 12px;
  color: #7c7c7c;
}
.content_main .main .main_right .right_bottom .bottom-box_2 dl dd {
  margin-top: 10px;
  display: inline-block;
}
.content_main .main .main_right .right_bottom .bottom-box_2 dl dd .box-1_a {
  font-size: 14px;
  color: #ed601b;
  display: inline-block;
  margin-right: 62px;
}
.content_main .main .main_right .right_bottom .bottom-box_2 dl dd .box-1_a3 {
  color: #bababa;
  margin-left: 44px;
  display: block;
  padding-left: 28px;
  padding-top: 8px;
  width: 72px;
  height: 28px;
  font-size: 12px;
  border: 1px solid #e6e6e6;
  background: #ffffff url(../images/icon-9.png) 5px 8px no-repeat;
}
.content_main .main .main_right .right_bottom .bottom-box_3 {
  padding-left: 28px;
  padding-bottom: 16px;
  float: left;
  width: 222px;
  border-right: 1px solid #e6e6e6;
}
.content_main .main .main_right .right_bottom .bottom-box_3 img {
  margin-top: 50px;
  margin-left: 26px;
  display: block;
}
.content_main .main .main_right .right_bottom .bottom-box_3 dl dt {
  margin-top: 56px;
  font-size: 12px;
  color: #7c7c7c;
}
.content_main .main .main_right .right_bottom .bottom-box_3 dl dd {
  margin-top: 10px;
  display: inline-block;
}
.content_main .main .main_right .right_bottom .bottom-box_3 dl dd .box-1_a {
  font-size: 14px;
  color: #ed601b;
  display: inline-block;
  margin-right: 62px;
}
.content_main .main .main_right .right_bottom .bottom-box_3 dl dd .box-1_a2 {
  text-decoration: line-through;
  font-size: 12px;
  color: #bfbfbf;
  display: inline-block;
}
.content_main .main .main_right .right_bottom .bottom-box_3 dl dd .box-1_a3 {
  color: #bababa;
  margin-left: 44px;
  display: block;
  padding-left: 28px;
  padding-top: 8px;
  width: 72px;
  height: 28px;
  font-size: 12px;
  border: 1px solid #e6e6e6;
  background: #ffffff url(../images/icon-9.png) 5px 8px no-repeat;
}
.content_main .main .main_right .right_bottom .bottom-box_4 {
  padding-left: 42px;
  padding-bottom: 16px;
  float: left;
  width: 207px;
}
.content_main .main .main_right .right_bottom .bottom-box_4 img {
  margin-top: 37px;
  margin-left: 10px;
  display: block;
}
.content_main .main .main_right .right_bottom .bottom-box_4 dl dt {
  margin-top: 50px;
  font-size: 12px;
  color: #7c7c7c;
}
.content_main .main .main_right .right_bottom .bottom-box_4 dl dd {
  margin-top: 10px;
  display: inline-block;
}
.content_main .main .main_right .right_bottom .bottom-box_4 dl dd .box-1_a {
  font-size: 14px;
  color: #ed601b;
  display: inline-block;
  margin-right: 62px;
}
.content_main .main .main_right .right_bottom .bottom-box_4 dl dd .box-1_a2 {
  text-decoration: line-through;
  font-size: 12px;
  color: #bfbfbf;
  display: inline-block;
}
.content_main .main .main_right .right_bottom .bottom-box_4 dl dd .box-1_a3 {
  color: #bababa;
  margin-left: 30px;
  display: block;
  padding-left: 28px;
  padding-top: 8px;
  width: 72px;
  height: 28px;
  font-size: 12px;
  border: 1px solid #e6e6e6;
  background: #ffffff url(../images/icon-9.png) 5px 8px no-repeat;
}
